{% extends 'header.html' %}
{% load static %}

{%block content %}
<!doctype html>
<html lang="en">


		<!-- Start Hero Section -->
			<div class="hero">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-lg-5">
							<div class="intro-excerpt">
								<h1>Blog</h1>
								<p class="mb-4">Stay updated with the latest trends, tips, and insights in interior design and furniture. Our blog is your go-to resource for inspiration and expert advice.</p>
								<p><a href="" class="btn btn-secondary me-2">Shop Now</a><a href="#" class="btn btn-white-outline">Explore</a></p>
							</div>
						</div>
						<div class="col-lg-7">
							<div class="hero-img-wrap">
								<img src="{% static "images/couch.png" %}" class="img-fluid">
							</div>
						</div>
					</div>
				</div>
			</div>
		<!-- End Hero Section -->

		

		<!-- Start Blog Section -->
		<div class="blog-section">
			<div class="container">
				
				<div class="row">

					<div class="col-12 col-sm-6 col-md-4 mb-5">
						<div class="post-entry">
							<a href="#" class="post-thumbnail"><img src="{% static "images/post-1.jpg" %}" alt="Image" class="img-fluid"></a>
							<div class="post-content-entry">
								<h3><a href="#">First Time Home Owner Ideas</a></h3>
								<div class="meta">
									<span>by <a href="#">Kristin Watson</a></span> <span>on <a href="#">Nov 19, 2024</a></span>
								</div>
							</div>
						</div>
					</div>

					<div class="col-12 col-sm-6 col-md-4 mb-5">
						<div class="post-entry">
							<a href="#" class="post-thumbnail"><img src="{% static "images/post-2.jpg" %}" alt="Image" class="img-fluid"></a>
							<div class="post-content-entry">
								<h3><a href="#">How To Keep Your Furniture Clean</a></h3>
								<div class="meta">
									<span>by <a href="#">Robert Fox</a></span> <span>on <a href="#">Aug 15, 2024</a></span>
								</div>
							</div>
						</div>
					</div>

					<div class="col-12 col-sm-6 col-md-4 mb-5">
						<div class="post-entry">
							<a href="#" class="post-thumbnail"><img src="{% static "images/post-3.jpg" %}" alt="Image" class="img-fluid"></a>
							<div class="post-content-entry">
								<h3><a href="#">Sustainable Furniture Choices
									 </a></h3>
								<div class="meta">
									<span>by <a href="#">Olivia Brown</a></span> <span>on <a href="#">Nov 22, 2024</a></span>
								</div>
							</div>
						</div>
					</div>

					<div class="col-12 col-sm-6 col-md-4 mb-5">
						<div class="post-entry">
							<a href="#" class="post-thumbnail"><img src="{% static "images/post-1.jpg" %}" alt="Image" class="img-fluid"></a>
							<div class="post-content-entry">
								<h3><a href="#">Small Space Living Tips </a></h3>
								<div class="meta">
									<span>by <a href="#">Emily Davis</a></span> <span>on <a href="#">Jan 10, 2024</a></span>
								</div>
							</div>
						</div>
					</div>

					<div class="col-12 col-sm-6 col-md-4 mb-5">
						<div class="post-entry">
							<a href="#" class="post-thumbnail"><img src="{% static "images/post-2.jpg" %}" alt="Image" class="img-fluid"></a>
							<div class="post-content-entry">
								<h3><a href="#">Budget-Friendly Furniture Makeovers</a></h3>
								<div class="meta">
									<span>by <a href="#">Michael Johnson</a></span> <span>on <a href="#">Feb 5, 2024</a></span>
								</div>
							</div>
						</div>
					</div>

					<div class="col-12 col-sm-6 col-md-4 mb-5">
						<div class="post-entry">
							<a href="#" class="post-thumbnail"><img src="{% static "images/post-3.jpg" %}" alt="Image" class="img-fluid"></a>
							<div class="post-content-entry">
								<h3><a href="#">Creating a Cozy Home Office
									 </a></h3>
								<div class="meta">
									<span>by <a href="#">Sarah Lee</a></span> <span>on <a href="#">Mar 15, 2024</a></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Blog Section -->	

		

		<!-- Start Testimonial Slider -->
		<div class="testimonial-section">
			<div class="container">
				<div class="row">
					<div class="col-lg-7 mx-auto text-center">
						<h2 class="section-title">Testimonials</h2>
					</div>
				</div>

				<div class="row justify-content-center">
					<div class="col-lg-12">
						<div class="testimonial-slider-wrap text-center">

							<div id="testimonial-nav">
								<span class="prev" data-controls="prev"><span class="fa fa-chevron-left"></span></span>
								<span class="next" data-controls="next"><span class="fa fa-chevron-right"></span></span>
							</div>

							<div class="testimonial-slider">
								
								<div class="item">
									<div class="row justify-content-center">
										<div class="col-lg-8 mx-auto">

											<div class="testimonial-block text-center">
												<blockquote class="mb-5">
													<p>&ldquo;I recently purchased a sectional sofa from this site, and I couldn’t be happier! The quality is exceptional, and it perfectly complements my living room. The shopping process was seamless, and my order arrived on time. I also appreciated the 24/7 customer support, which answered all my questions promptly. I’ll definitely be coming back for more!&rdquo;</p>
												</blockquote>

												<div class="author-info">
													<div class="author-pic">
														<img src="{% static "images/person-1.png" %}" alt="Maria Jones" class="img-fluid">
													</div>
													<h3 class="font-weight-bold">Maria Jones</h3>
													<span class="position d-block mb-3">CEO, Co-Founder, XYZ Inc.</span>
												</div>
											</div>

										</div>
									</div>
								</div> 
								<!-- END item -->

								<div class="item">
									<div class="row justify-content-center">
										<div class="col-lg-8 mx-auto">

											<div class="testimonial-block text-center">
												<blockquote class="mb-5">
													<p>&ldquo;I was looking for ergonomic furniture for my home office and found the perfect chair here. It’s incredibly comfortable and has helped improve my posture. The delivery was quick, and setting it up was so easy. I’ve already recommended this site to several friends, and I’m excited to buy more pieces in the future!&rdquo;</p>
												</blockquote>

												<div class="author-info">
													<div class="author-pic">
														<img src="{% static "images/person-1.png" %}" alt="Maria Jones" class="img-fluid">
													</div>
													<h3 class="font-weight-bold">Maria Jones</h3>
													<span class="position d-block mb-3">CEO, Co-Founder, XYZ Inc.</span>
												</div>
											</div>

										</div>
									</div>
								</div> 
								<!-- END item -->

								<div class="item">
									<div class="row justify-content-center">
										<div class="col-lg-8 mx-auto">

											<div class="testimonial-block text-center">
												<blockquote class="mb-5">
													<p>&ldquo;This store has transformed my living space! I bought a dining set and a few accent pieces, and the quality is top-notch. The website is easy to navigate, and the delivery was faster than expected. I love how each item adds a modern touch to my home. Highly recommend for anyone looking to elevate their interiors!&rdquo;</p>
												</blockquote>

												<div class="author-info">
													<div class="author-pic">
														<img src="{% static "images/person-1.png" %}" alt="Maria Jones" class="img-fluid">
													</div>
													<h3 class="font-weight-bold">Maria Jones</h3>
													<span class="position d-block mb-3">CEO, Co-Founder, XYZ Inc.</span>
												</div>
											</div>

										</div>
									</div>
								</div> 
								<!-- END item -->

							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Testimonial Slider -->

		

		
	</body>
	{% endblock %}
</html>
